<p>sales-person-list works!</p>


<p>Quick Test</p>
<p>{{salesPsnList[3].firstName}} {{salesPsnList[3].lastName}}</p>

<table border="1">
     <thead>
          <tr>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Email</th>
               <th>Sales Volume</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let tempSalesPer of salesPsnList">
               <td>{{tempSalesPer.firstName}}</td>
               <td>{{tempSalesPer.lastName}}</td>
               <td>{{tempSalesPer.email}}</td>
               <td>{{tempSalesPer.salesVolume}}</td>
          </tr>
     </tbody>
</table>